body{
    background: url("../image/bg.png");
}

.me_container_small{

}
.me_nav{
    padding-top:0.2em  !important;
    padding-bottom:0.2em  !important;

}


.me_footer{
    padding-top:3em  !important;
    padding-bottom:3em  !important;

}

.me_color{
    color:grey
}

.me_padding_mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.me_padding_small{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.me_padding_small_all{
    padding:1em !important;

}
.me_padding_large{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.me_margin_mini{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.me_margin_large{
    margin-top: 3em !important;
    margin-bottom: 3em !important;
}

.me_text{
    color: #333 !important;
}

/*position*/
.me_right_top{
    position: absolute;
    top:0;
    right:0;
}

.me_mobile_show{
    display: none !important;
}

@media screen and (max-width:768px){
    .me_mobile_hide{
        display: none !important;
    }
    .me_mobile_show{
        display: block !important;
    }
    .me_mobile_wide{
        width:100% !important;
    }
}


