.me_nav{
    padding-top:0.2em  !important;
    padding-bottom:0.2em  !important;

}


.me_footer{
    padding-top:3em  !important;
    padding-bottom:3em  !important;

}

.me_color{
    color:grey
}

.me_padding_mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.me_padding_large{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}


