<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Archives</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>


<body>

    <nav class="ui inverted attached segment me_nav">
        <div class="ui container">
            <div class="ui inverted secondary menu stackable">
                <h2 class="ui header orange item"><i class="anchor icon"></i>Blog </h2>
                <a href="#" class="me_item item me_mobile_hide">Home Page </a>
                <a href="#" class="me_item item me_mobile_hide">Item </a>
                <a href="#" class="me_item item me_mobile_hide">Tag </a>
                <a href="#" class="me_item item me_mobile_hide">About Me </a>

                <div class="right me_item item me_mobile_hide">
                    <div class="ui incon input">
                        <input type="text" placeholder="Search">
                        <!--<i class="inverted search link icon"></i>-->
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="ui menu toggle black icon button me_right_top me_mobile_show">
            <i class="sidebar icon"></i>
        </a>
    </nav>


    <div class="me_padding_large me_container_small">
        <div class="ui container">

            <!--title-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui orange header">Archives</h3>
                    </div>
                    <div class="right aligned column">
                        <h3 class="ui grey header">Total: 8</h3>
                    </div>
                </div>
            </div>

            <h2 class="ui header center aligned">2017</h2>
            <!--tags-->
            <div class="ui fluid vertical menu">
                <a href="#" taget="_blank" class="item">
                    <span><i class="orange circle icon"></i>This is header
                        <!--<div class="ui orange label">Sep 03</div>-->
                    </span>
                    <div class="ui orange label">Sep 03</div>
                </a>
                <a href="#" taget="_blank" class="item">
                    <span><i class="orange circle icon"></i>This is header
                        <!--<div class="ui orange label">Sep 03</div>-->
                    </span>
                    <div class="ui orange label">Sep 03</div>
                </a>
                <a href="#" taget="_blank" class="item">
                    <span><i class="orange circle icon"></i>This is header
                        <!--<div class="ui orange label">Sep 03</div>-->
                    </span>
                    <div class="ui orange label">Sep 03</div>
                </a>
                <a href="#" taget="_blank" class="item">
                    <span><i class="orange circle icon"></i>This is header
                        <!--<div class="ui orange label">Sep 03</div>-->
                    </span>
                    <div class="ui orange label">Sep 03</div>
                </a>
                <a href="#" taget="_blank" class="item">
                    <span><i class="orange circle icon"></i>This is header
                        <!--<div class="ui orange label">Sep 03</div>-->
                    </span>
                    <div class="ui orange label">Sep 03</div>
                </a>
                <a href="#" taget="_blank" class="item">
                    <span><i class="orange circle icon"></i>This is header
                        <!--<div class="ui orange label">Sep 03</div>-->
                    </span>
                    <div class="ui orange label">Sep 03</div>
                </a>
            </div>


            <h2 class="ui header center aligned">2016</h2>
            <!--tags-->
            <div class="ui fluid vertical menu">
                <a href="#" taget="_blank" class="item">
                    <span><i class="orange circle icon"></i>This is header
                        <!--<div class="ui orange label">Sep 03</div>-->
                    </span>
                    <div class="ui orange label">Sep 03</div>
                </a>
                <a href="#" taget="_blank" class="item">
                    <span><i class="orange circle icon"></i>This is header
                        <!--<div class="ui orange label">Sep 03</div>-->
                    </span>
                    <div class="ui orange label">Sep 03</div>
                </a>
                <a href="#" taget="_blank" class="item">
                    <span><i class="orange circle icon"></i>This is header
                        <!--<div class="ui orange label">Sep 03</div>-->
                    </span>
                    <div class="ui orange label">Sep 03</div>
                </a>
                <a href="#" taget="_blank" class="item">
                    <span><i class="orange circle icon"></i>This is header
                        <!--<div class="ui orange label">Sep 03</div>-->
                    </span>
                    <div class="ui orange label">Sep 03</div>
                </a>
                <a href="#" taget="_blank" class="item">
                    <span><i class="orange circle icon"></i>This is header
                        <!--<div class="ui orange label">Sep 03</div>-->
                    </span>
                    <div class="ui orange label">Sep 03</div>
                </a>
                <a href="#" taget="_blank" class="item">
                    <span><i class="orange circle icon"></i>This is header
                        <!--<div class="ui orange label">Sep 03</div>-->
                    </span>
                    <div class="ui orange label">Sep 03</div>
                </a>

            </div>
            

            <!--footer-->
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="#" class="ui mini orange basic button">Last </a>
                    </div>

                    <div class="column right aligned">
                        <a href="#" class="ui mini orange basic button">Next </a>
                    </div>
                </div>
            </div>


        </div>
    </div>


    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>


    <footer class="ui inverted attached segment me_footer">
        <div class="ui center aligned  container">

            <div class="ui inverted divided stackable grid">
                <div class="five wide column">
                    <h4 class="ui inverted header">Links</h4>

                    <div class="ui inverted link list">
                        <a href="https://www.linkedin.com/in/boofcourse/" class="item"><i class="inverted linkedin icon"></i> LinkedIn</a>
                        <a href="https://github.com/Boboboo" class="item"> <i class="inverted github icon"></i>Github</a>
                        <a href="https://drive.google.com/open?id=0B2An4EkYubiVUjViZzFWWDRocGs" class="item"> <i class="inverted female icon"></i>Resume</a>
                    </div>
                </div>

                <div class="five wide column">
                    <h4 class="ui inverted header">Contact Me</h4>

                    <div class="ui inverted link list">
                        <a href="mailto:boofcourse@gmail.com" class="item"><i class="inverted mail icon"></i>
                            boofcourse@gmail.com
                        </a>
                        <a href="#" class="item"><i class="inverted call icon"></i>551-247-7220 </a>
                    </div>

                </div>
                <div class="six wide column">
                    <h4 class="ui inverted header">Bo (Bonnie) Zhang</h4>

                    <p class="me_color">Software engineer in back-end development, strong relational schema design and both SQL and No-SQL skills. </p>
                    <p class="me_color">I am passionate about designing and building data-intensive enterprise-grade applications on a modern stack.</p>

                </div>
            </div>
        </div>

        <div class="ui inverted section divider"></div>
        <div class="ui center aligned  container">
            <p class="me_color">CopyRight &nbsp; &copy; Bonnie</p>
        </div>
    </footer>



<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.me_item').toggleClass('me_mobile_hide');
        
    })
</script>
</body>
</html>