<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>


<body>

    <nav class="ui inverted attached segment me_nav">
        <div class="ui container">
            <div class="ui inverted secondary menu stackable">
                <h2 class="ui header orange item"><i class="anchor icon"></i>Blog </h2>
                <a href="#" class="me_item item me_mobile_hide">Home Page </a>
                <a href="#" class="me_item item me_mobile_hide">Item </a>
                <a href="#" class="me_item item me_mobile_hide">Tag </a>
                <a href="#" class="me_item item me_mobile_hide">About Me </a>

                <div class="right me_item item me_mobile_hide">
                    <div class="ui incon input">
                        <input type="text" placeholder="Search">
                        <!--<i class="inverted search link icon"></i>-->
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="ui menu toggle black icon button me_right_top me_mobile_show">
            <i class="sidebar icon"></i>
        </a>
    </nav>


    <div class="me_padding_large me_container_small">
        <div class="ui container">
            <!--header-->
            <div class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
                        <img src="https://unsplash.it/100/100?image=1002" alt="" class="ui avatar image">
                        <div class="content"><a href="#" class="header"> Bonnie</a></div>
                    </div>

                    <div class="item">
                        <i class="calendar icon"></i> 2018-05-21
                    </div>
                    <div class="item">
                        <i class="eye icon"></i> 124
                    </div>

                </div>
            </div>

            <!--picture-->
            <div class="ui attached segment">
                <img src="https://unsplash.it/900/400?image=1002" alt="" class="ui fluid rounded image">
            </div>

            <!--content-->
            <div class="ui attached segment">
                <h2 class="ui center aligned header me_padding_small">Uniquely Stevens</h2>
                <div id="content" class="me_padding_small_all">
                    <p>The history of technology-driven innovation at Stevens gives students in the Marketing major incredible advantages as they enter this dynamic industry. Professionals in this space must be able to use technology tools and new platforms to quickly analyze large sets of data and pivot based on the findings. The wealth of technology available to Stevens students in class prepares future analysts and content strategists to think creatively about ways to leverage these tools to take advantage of emerging market opportunities. Additionally, Stevens faculty are recognized experts in areas like social network analytics, virtual behavior and digital marketing strategy, ensuring courses prioritize the cutting-edge skills most sought by employers.
                        The history of technology-driven innovation at Stevens gives students in the Marketing major incredible advantages as they enter this dynamic industry. Professionals in this space must be able to use technology tools and new platforms to quickly analyze large sets of data and pivot based on the findings. The wealth of technology available to Stevens students in class prepares future analysts and content strategists to think creatively about ways to leverage these tools to take advantage of emerging market opportunities. Additionally, Stevens faculty are recognized experts in areas like social network analytics, virtual behavior and digital marketing strategy, ensuring courses prioritize the cutting-edge skills most sought by employers.</p>
                </div>
                <!--tag-->
                <div class="me_padding_small_all">
                    <div class="ui orange basic top pointing label">HashMap</div>
                </div>
                <!--like-->
                <div class="ui center aligned segment">
                    <div class="ui orange mini button circular">Like</div>
                </div>
            </div>

            <!--comment-->
            <div class="ui bottom attached segment">

                <div class="ui orange comments">
                    <h3 class="ui dividing header">Comments</h3>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://unsplash.it/100/100?image=1002">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM</span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://unsplash.it/100/100?image=1002">
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                                <p>This has been very useful for my research. Thanks as well!</p>
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://unsplash.it/100/100?image=1002">
                                </a>
                                <div class="content">
                                    <a class="author">Jenny Hess</a>
                                    <div class="metadata">
                                        <span class="date">Just now</span>
                                    </div>
                                    <div class="text">
                                        Elliot you are always so right :)
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://unsplash.it/100/100?image=1002">
                        </a>
                        <div class="content">
                            <a class="author">Joe Henderson</a>
                            <div class="metadata">
                                <span class="date">5 days ago</span>
                            </div>
                            <div class="text">
                                Dude, this is awesome. Thanks so much
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>

                    <form class="ui reply form">
                        <div class="field">
                            <textarea name="content" placeholder="Please input your comment here."></textarea>
                        </div>

                        <div class="fields">
                            <div class="field me_mobile_wide me_margin_mini">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="field me_mobile_wide me_margin_mini">
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="text" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="field me_mobile_wide me_margin_mini">
                                <div class="ui orange labeled submit icon button me_mobile_wide">
                                    <i class="icon edit"></i> Submit
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>


    <footer class="ui inverted attached segment me_footer">
        <div class="ui center aligned  container">

            <div class="ui inverted divided stackable grid">
                <div class="five wide column">
                    <h4 class="ui inverted header">Links</h4>

                    <div class="ui inverted link list">
                        <a href="https://www.linkedin.com/in/boofcourse/" class="item"><i class="inverted linkedin icon"></i> LinkedIn</a>
                        <a href="https://github.com/Boboboo" class="item"> <i class="inverted github icon"></i>Github</a>
                        <a href="https://drive.google.com/open?id=0B2An4EkYubiVUjViZzFWWDRocGs" class="item"> <i class="inverted female icon"></i>Resume</a>
                    </div>
                </div>

                <div class="five wide column">
                    <h4 class="ui inverted header">Contact Me</h4>

                    <div class="ui inverted link list">
                        <a href="mailto:boofcourse@gmail.com" class="item"><i class="inverted mail icon"></i>
                            boofcourse@gmail.com
                        </a>
                        <a href="#" class="item"><i class="inverted call icon"></i>551-247-7220 </a>
                    </div>

                </div>
                <div class="six wide column">
                    <h4 class="ui inverted header">Bo (Bonnie) Zhang</h4>

                    <p class="me_color">Software engineer in back-end development, strong relational schema design and both SQL and No-SQL skills. </p>
                    <p class="me_color">I am passionate about designing and building data-intensive enterprise-grade applications on a modern stack.</p>

                </div>
            </div>
        </div>

        <div class="ui inverted section divider"></div>
        <div class="ui center aligned  container">
            <p class="me_color">CopyRight &nbsp; &copy; Bonnie</p>
        </div>
    </footer>



<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.me_item').toggleClass('me_mobile_hide');
        
    })
</script>
</body>
</html>