<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>


<body>

    <nav class="ui inverted attached segment me_nav">
        <div class="ui container">
            <div class="ui inverted secondary menu stackable">
                <h2 class="ui header orange item"><i class="anchor icon"></i>Blog </h2>
                <a href="#" class="me_item item me_mobile_hide">Home Page </a>
                <a href="#" class="me_item item me_mobile_hide">Item </a>
                <a href="#" class="me_item item me_mobile_hide">Tag </a>
                <a href="#" class="me_item item me_mobile_hide">About Me </a>

                <div class="right me_item item me_mobile_hide">
                    <div class="ui incon input">
                        <input type="text" placeholder="Search">
                        <!--<i class="inverted search link icon"></i>-->
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="ui menu toggle black icon button me_right_top me_mobile_show">
            <i class="sidebar icon"></i>
        </a>
    </nav>


    <div class="me_padding_large">
        <div class="ui container">
           <div class="ui grid stackable">

               <!--left side blog list-->
               <div class="eleven wide column">
                   <!--header-->
                   <div class="ui top attached segment">
                       <div class="ui middle aligned two column grid">
                           <div class="column">
                               <h3 class="ui orange header">Blog</h3>
                           </div>
                           <div class="right aligned column">
                               <h3 class="ui grey header">Total: 14</h3>
                           </div>
                       </div>
                   </div>

                   <!--content-->
                   <div class="ui attached segment">
                       <div class="ui segment vertical grid">
                           <div class="ui mobile reversed stackable grid">
                               <div class="sixteen wide column">
                                   <h3 class="ui header">Uniquely Stevens </h3>
                                   <p>Very few universities offer Quantitative Finance programs at the undergraduate level, creating a unique avenue for students interested in this challenging, exciting field of study. The Quantitative Finance program at Stevens also benefits from the unique financial analytics labs that are part of the university's prestigious Hanlon Financial Systems Center, where students get Bloomberg certification in the first semester of their freshman year. In addition to the incredible placement rate enjoyed by Quantitative Finance graduates, students can take part in the Student Managed Investment Fund. Students overseeing the fund have nearly half a million dollars under management and put classroom concepts into practice as they aim to improve the fund's performance.</p>

                                   <div class="ui grid">
                                       <div class="eleven wide column">
                                           <div class="ui horizontal link list">
                                               <div class="item">
                                                   <img src="https://unsplash.it/100/100?image=1002" alt="" class="ui avatar image">
                                                   <div class="content"><a href="#" class="header"> Bonnie</a></div>
                                               </div>

                                               <div class="item">
                                                   <i class="calendar icon"></i> 2018-05-21
                                               </div>
                                               <div class="item">
                                                   <i class="eye icon"></i> 124
                                               </div>

                                           </div>
                                       </div>

                                       <div class="right aligned five wide column">
                                           <a href="#" class="ui orange basic label me_padding_mini" target="_blank">Big data</a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <!--<div class="five wide column">-->
                               <!--<a href="#" target="_blank">-->
                                   <!--<img src="https://unsplash.it/800/450?image=1006" alt="" class="ui rounded image">-->
                               <!--</a>-->
                           <!--</div>-->
                       </div>
                       <div class="ui segment vertical grid">
                           <div class="ui mobile reversed stackable grid">
                               <div class="sixteen wide column">
                                   <h3 class="ui header">Uniquely Stevens </h3>
                                   <p>Very few universities offer Quantitative Finance programs at the undergraduate level, creating a unique avenue for students interested in this challenging, exciting field of study. The Quantitative Finance program at Stevens also benefits from the unique financial analytics labs that are part of the university's prestigious Hanlon Financial Systems Center, where students get Bloomberg certification in the first semester of their freshman year. In addition to the incredible placement rate enjoyed by Quantitative Finance graduates, students can take part in the Student Managed Investment Fund. Students overseeing the fund have nearly half a million dollars under management and put classroom concepts into practice as they aim to improve the fund's performance.</p>

                                   <div class="ui grid">
                                       <div class="eleven wide column">
                                           <div class="ui horizontal link list">
                                               <div class="item">
                                                   <img src="https://unsplash.it/100/100?image=1002" alt="" class="ui avatar image">
                                                   <div class="content"><a href="#" class="header"> Bonnie</a></div>
                                               </div>

                                               <div class="item">
                                                   <i class="calendar icon"></i> 2018-05-21
                                               </div>
                                               <div class="item">
                                                   <i class="eye icon"></i> 124
                                               </div>

                                           </div>
                                       </div>

                                       <div class="right aligned five wide column">
                                           <a href="#" class="ui orange basic label me_padding_mini" target="_blank">Big data</a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <!--<div class="five wide column">-->
                           <!--<a href="#" target="_blank">-->
                           <!--<img src="https://unsplash.it/800/450?image=1006" alt="" class="ui rounded image">-->
                           <!--</a>-->
                           <!--</div>-->
                       </div>
                       <div class="ui segment vertical grid">
                           <div class="ui mobile reversed stackable grid">
                               <div class="sixteen wide column">
                                   <h3 class="ui header">Uniquely Stevens </h3>
                                   <p>Very few universities offer Quantitative Finance programs at the undergraduate level, creating a unique avenue for students interested in this challenging, exciting field of study. The Quantitative Finance program at Stevens also benefits from the unique financial analytics labs that are part of the university's prestigious Hanlon Financial Systems Center, where students get Bloomberg certification in the first semester of their freshman year. In addition to the incredible placement rate enjoyed by Quantitative Finance graduates, students can take part in the Student Managed Investment Fund. Students overseeing the fund have nearly half a million dollars under management and put classroom concepts into practice as they aim to improve the fund's performance.</p>

                                   <div class="ui grid">
                                       <div class="eleven wide column">
                                           <div class="ui horizontal link list">
                                               <div class="item">
                                                   <img src="https://unsplash.it/100/100?image=1002" alt="" class="ui avatar image">
                                                   <div class="content"><a href="#" class="header"> Bonnie</a></div>
                                               </div>

                                               <div class="item">
                                                   <i class="calendar icon"></i> 2018-05-21
                                               </div>
                                               <div class="item">
                                                   <i class="eye icon"></i> 124
                                               </div>

                                           </div>
                                       </div>

                                       <div class="right aligned five wide column">
                                           <a href="#" class="ui orange basic label me_padding_mini" target="_blank">Big data</a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <!--<div class="five wide column">-->
                           <!--<a href="#" target="_blank">-->
                           <!--<img src="https://unsplash.it/800/450?image=1006" alt="" class="ui rounded image">-->
                           <!--</a>-->
                           <!--</div>-->
                       </div>
                       <div class="ui segment vertical grid">
                           <div class="ui mobile reversed stackable grid">
                               <div class="sixteen wide column">
                                   <h3 class="ui header">Uniquely Stevens </h3>
                                   <p>Very few universities offer Quantitative Finance programs at the undergraduate level, creating a unique avenue for students interested in this challenging, exciting field of study. The Quantitative Finance program at Stevens also benefits from the unique financial analytics labs that are part of the university's prestigious Hanlon Financial Systems Center, where students get Bloomberg certification in the first semester of their freshman year. In addition to the incredible placement rate enjoyed by Quantitative Finance graduates, students can take part in the Student Managed Investment Fund. Students overseeing the fund have nearly half a million dollars under management and put classroom concepts into practice as they aim to improve the fund's performance.</p>

                                   <div class="ui grid">
                                       <div class="eleven wide column">
                                           <div class="ui horizontal link list">
                                               <div class="item">
                                                   <img src="https://unsplash.it/100/100?image=1002" alt="" class="ui avatar image">
                                                   <div class="content"><a href="#" class="header"> Bonnie</a></div>
                                               </div>

                                               <div class="item">
                                                   <i class="calendar icon"></i> 2018-05-21
                                               </div>
                                               <div class="item">
                                                   <i class="eye icon"></i> 124
                                               </div>

                                           </div>
                                       </div>

                                       <div class="right aligned five wide column">
                                           <a href="#" class="ui orange basic label me_padding_mini" target="_blank">Big data</a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <!--<div class="five wide column">-->
                           <!--<a href="#" target="_blank">-->
                           <!--<img src="https://unsplash.it/800/450?image=1006" alt="" class="ui rounded image">-->
                           <!--</a>-->
                           <!--</div>-->
                       </div>
                       <div class="ui segment vertical grid">
                           <div class="ui mobile reversed stackable grid">
                               <div class="sixteen wide column">
                                   <h3 class="ui header">Uniquely Stevens </h3>
                                   <p>Very few universities offer Quantitative Finance programs at the undergraduate level, creating a unique avenue for students interested in this challenging, exciting field of study. The Quantitative Finance program at Stevens also benefits from the unique financial analytics labs that are part of the university's prestigious Hanlon Financial Systems Center, where students get Bloomberg certification in the first semester of their freshman year. In addition to the incredible placement rate enjoyed by Quantitative Finance graduates, students can take part in the Student Managed Investment Fund. Students overseeing the fund have nearly half a million dollars under management and put classroom concepts into practice as they aim to improve the fund's performance.</p>

                                   <div class="ui grid">
                                       <div class="eleven wide column">
                                           <div class="ui horizontal link list">
                                               <div class="item">
                                                   <img src="https://unsplash.it/100/100?image=1002" alt="" class="ui avatar image">
                                                   <div class="content"><a href="#" class="header"> Bonnie</a></div>
                                               </div>

                                               <div class="item">
                                                   <i class="calendar icon"></i> 2018-05-21
                                               </div>
                                               <div class="item">
                                                   <i class="eye icon"></i> 124
                                               </div>

                                           </div>
                                       </div>

                                       <div class="right aligned five wide column">
                                           <a href="#" class="ui orange basic label me_padding_mini" target="_blank">Big data</a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <!--<div class="five wide column">-->
                           <!--<a href="#" target="_blank">-->
                           <!--<img src="https://unsplash.it/800/450?image=1006" alt="" class="ui rounded image">-->
                           <!--</a>-->
                           <!--</div>-->
                       </div>

                   </div>


                    <!--footer-->
                   <div class="ui bottom attached segment">
                       <div class="ui middle aligned two column grid">
                           <div class="column">
                               <a href="#" class="ui mini orange basic button">Last </a>
                           </div>

                           <div class="column right aligned">
                           <a href="#" class="ui mini orange basic button">Next </a>
                       </div>
                       </div>
                   </div>
               </div>


                <!--right side top-->
               <div class="five wide column">

                   <!--classify-->
                   <div class="ui segments me_margin_large">
                       <div class="ui secondary segment">
                           <div class="ui two column grid">
                               <div class="left aligned column">
                                    <i class="idea icon">&nbsp;Classify</i>
                               </div>

                               <div class="right aligned column">
                                    <a href="#" target="">More<i class="angle double right icon"></i></a>
                               </div>
                           </div>
                       </div>

                       <div class="ui orange segment">
                           <div class="ui fluid vertical menu">
                               <a href="#" class="item">
                                   Study Log
                                   <div class="ui label">13</div>
                               </a>
                               <a href="#" class="item">
                                   Study Log
                                   <div class="ui label">13</div>
                               </a>
                               <a href="#" class="item">
                                   Study Log
                                   <div class="ui label">13</div>
                               </a>
                               <a href="#" class="item">
                                   Study Log
                                   <div class="ui label">13</div>
                               </a>
                               <a href="#" class="item">
                                   Study Log
                                   <div class="ui label">13</div>
                               </a>
                           </div>
                       </div>
                   </div>

                    <!--tags-->
                   <div class="ui segments me_margin_large">
                       <div class="ui secondary segment">
                           <div class="ui two column grid">
                               <div class="left aligned column">
                                   <i class="tags icon">&nbsp;Tags</i>
                               </div>

                               <div class="right aligned column">
                                   <a href="#" target="">More<i class="angle double right icon"></i></a>
                               </div>
                           </div>
                       </div>

                       <div class="ui orange segment">
                           <a href="#" taget="_blank" class="ui label me_margin_mini">
                               Hash Map
                               <div class="detail">5</div>
                           </a>
                           <a href="#" taget="_blank" class="ui label me_margin_mini">
                               Hash Map
                               <div class="detail">5</div>
                           </a>
                           <a href="#" taget="_blank" class="ui label me_margin_mini">
                               Hash Map
                               <div class="detail">5</div>
                           </a>
                           <a href="#" taget="_blank" class="ui label me_margin_mini">
                               Hash Map
                               <div class="detail">5</div>
                           </a>
                           <a href="#" taget="_blank" class="ui label me_margin_mini">
                               Hash Map
                               <div class="detail">5</div>
                           </a>
                       </div>
                   </div>

                   <!--Newly recommend-->
                   <div class="ui segments me_margin_large">
                       <div class="ui secondary segment">
                           <i class="bookmark icon"></i>&nbsp;Latest Recommendation
                       </div>

                       <div class="ui orange segment me_text">
                           <div class="ui segment">
                               <a href="#" class="item me_text" >
                                   How to upload files to server using JSP/Servlet?
                               </a>
                           </div>
                           <div class="ui segment">
                               <a href="#" class="item me_text" >
                                   How to upload files to server using JSP/Servlet?
                               </a>
                           </div>
                           <div class="ui segment">
                               <a href="#" class="item me_text" >
                                   How to upload files to server using JSP/Servlet?
                               </a>
                           </div>
                           <div class="ui segment">
                               <a href="#" class="item me_text" >
                                   How to upload files to server using JSP/Servlet?
                               </a>
                           </div>
                           <div class="ui segment">
                               <a href="#" class="item me_text" >
                                   How to upload files to server using JSP/Servlet?
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>

    </div>
    </br>
    </br>

    </br>

    </br>

    </br>

    </br>

    </br>

    </br>

    </br>

    </br>



    <footer class="ui inverted attached segment me_footer">
        <div class="ui center aligned  container">

            <div class="ui inverted divided stackable grid">
                <div class="five wide column">
                    <h4 class="ui inverted header">Links</h4>

                    <div class="ui inverted link list">
                        <a href="https://www.linkedin.com/in/boofcourse/" class="item"><i class="inverted linkedin icon"></i> LinkedIn</a>
                        <a href="https://github.com/Boboboo" class="item"> <i class="inverted github icon"></i>Github</a>
                        <a href="https://drive.google.com/open?id=0B2An4EkYubiVUjViZzFWWDRocGs" class="item"> <i class="inverted female icon"></i>Resume</a>
                    </div>
                </div>

                <div class="five wide column">
                    <h4 class="ui inverted header">Contact Me</h4>

                    <div class="ui inverted link list">
                        <a href="mailto:boofcourse@gmail.com" class="item"><i class="inverted mail icon"></i>
                            boofcourse@gmail.com
                        </a>
                        <a href="#" class="item"><i class="inverted call icon"></i>551-247-7220 </a>
                    </div>

                </div>
                <div class="six wide column">
                    <h4 class="ui inverted header">Bo (Bonnie) Zhang</h4>

                    <p class="me_color">Software engineer in back-end development, strong relational schema design and both SQL and No-SQL skills. </p>
                    <p class="me_color">I am passionate about designing and building data-intensive enterprise-grade applications on a modern stack.</p>

                </div>
            </div>
        </div>

        <div class="ui inverted section divider"></div>
        <div class="ui center aligned  container">
            <p class="me_color">CopyRight &nbsp; &copy; Bonnie</p>
        </div>
    </footer>



<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.me_item').toggleClass('me_mobile_hide');
        
    })
</script>
</body>
</html>