<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>


<body>

    <nav class="ui inverted attached segment me_nav">
        <div class="ui container">
            <div class="ui inverted menu ">
                <h2 class="ui header teal item"><i class="anchor icon"></i>Blog </h2>
                <a href="#" class="item">Home Page </a>
                <a href="#" class="item">Item </a>
                <a href="#" class="item">Tag </a>
                <a href="#" class="item">About Me </a>

                <div class="right item">
                    <div class="ui incon input">
                        <input type="text" placeholder="Search">
                        <i class="inverted search link icon"></i>
                    </div>
                </div>

            </div>

        </div>

    </nav>


    <div>
        </br>
        </br>
        </br>
        </br>


    </div>


    <footer class="ui inverted attached segment me_footer">
        <div class="ui center aligned  container">

            <div class="ui inverted divided grid">
                <div class="five wide column">
                    <h4 class="ui inverted header">Links</h4>

                    <div class="ui inverted link list">
                        <a href="https://www.linkedin.com/in/boofcourse/" class="item"><i class="inverted linkedin icon"></i> LinkedIn</a>
                        <a href="https://github.com/Boboboo" class="item"> <i class="inverted github icon"></i>Github</a>
                        <a href="https://drive.google.com/open?id=0B2An4EkYubiVUjViZzFWWDRocGs" class="item"> <i class="inverted female icon"></i>Resume</a>
                    </div>
                </div>

                <div class="five wide column">
                    <h4 class="ui inverted header">Contact Me</h4>

                    <div class="ui inverted link list">
                        <a href="mailto:boofcourse@gmail.com" class="item"><i class="inverted mail icon"></i>&nbsp;boofcourse@gmail.com </a>
                        <a href="#" class="item"><i class="inverted call icon"></i>551-247-7220 </a>
                    </div>

                </div>
                <div class="six wide column">
                    <h4 class="ui inverted header">Bo (Bonnie) Zhang</h4>

                    <p class="me_color">Software engineer in back-end development, strong relational schema design and both SQL and No-SQL skills. </p>
                    <p class="me_color">I am passionate about designing and building data-intensive enterprise-grade applications on a modern stack.</p>

                </div>
            </div>
        </div>

        <div class="ui inverted section divider"></div>
        <div class="ui center aligned  container">
            <p class="me_color">CopyRight &nbsp; &copy; Bonnie</p>
        </div>
    </footer>




<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>

</body>
</html>